<%= form_with(model: tweet) do |form| %>
  <% if tweet != nil %>
    <% if tweet.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

        <ul>
          <% tweet.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

<!--
  <div>
    User ID
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>
-->

  <div class="tweet_text_area">
    <!-- Tweet -->
    <!-- <%= form.label :content, style: "display: block" %> -->
    <%= form.text_area :content, size:"40x7" %>
  </div>

  <!-- <div>
    Like
    <%= form.label :like, style: "display: block" %>
    <%= form.number_field :like %>
  </div> -->

  <!-- <div>
    Unlike 
    <%= form.label :unlike, style: "display: block" %>
    <%= form.number_field :unlike %>
  </div>-->

  <div class="tweet_btn">
    <%= form.submit(t("tweet"), class: "btn btn-primary") %>
  </div>
<% end %>
