<!-- <p style="color: green"><%= notice %></p> -->

<div id="right_scroll">
  <h1 id="tweets">Tweets</h1>
  <table>
    <div>
      <tbody>
        <% @tweets.each do |tweet| %>
          <tr>
            <td></td>
            <td>
              <div class="content">
                <%= render tweet %>
                <p>
                  <% if current_user.id == tweet.user_id %>
                  <!-- <%= link_to "Show this tweet", tweet %> -->
                  <%= button_to "Destroy this tweet", tweet, method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
                  <% end %>
                </p>
                <hr />
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </div>
  </table>

  <!-- <%= link_to "New tweet", new_tweet_path %> -->
</div>
