<!-- <p style="color: green"><%= notice %></p> -->

<div id="right_scroll">
  <h1 id="tweets" style="margin-left: 10px;">Tweets</h1>
  <table class="table table-striped">
    <div>
      <tbody>
        <% @tweets.each do |tweet| %>
          <tr>
            <td class="table-info"></td>
            <td class="table-info">
              <div class="content">
                <%= render tweet %>
                <p>
                  <% if current_user.id == tweet.user_id || current_user.id == 1 %>
                  <!-- <%= link_to "Show this tweet", tweet %> -->
                  <%= button_to t("delete"), tweet, method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
                  <% end %>
                </p>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </div>
  </table>

  <!-- <%= link_to "New tweet", new_tweet_path %> -->
</div>
