<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
  <%= link_to "Edit this tweet", edit_tweet_path(@tweet), class: "text-white" %> |
  <%= link_to "Back to tweets", tweets_path, class: "text-white" %>

  <%= button_to "Destroy this tweet", @tweet, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
</div>
