<div id="<%= dom_id user %>">
  
  <!-- <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p> -->

  <p>
    <!-- <strong>Screen name:</strong> -->
    <span class="profile_screen_name text-white"><%= user.screen_name %></span>
  </p>

  <p>
    <!-- <strong>User name:</strong> -->
    <span class="profile_screen_name text-white">@<%= user.user_name %></span>
  </p>

  <p>    
    <div class="row">
        <div class="col"><a href="<%= root_url+"users/"+user.id.to_s %>/follows" class="text-white">Follows</a></div>
        <div class="col"><a href="<%= root_url+"users/"+user.id.to_s %>/follows" class="text-white">Followers</a></div>
        <div class="col">Tweets</div>
    </div>
    <div class="row">
        <div class="col"><%= Follow.where(user_id: @user.id).count %></div>
        <div class="col"><%= Follow.where(follow_user_id: @user.id).count %></div>
        <div class="col"><%= Tweet.where(user_id: @user.id).count %></div>
    </div>
  </p>

  <!-- <p>
    <strong>Language:</strong>
    <%= user.language %>
  </p> -->

</div>
