<% @application_name = "Twitter2"%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= @application_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <%= stylesheet_link_tag 'styles.css' %>
  </head>

  <body>
    <div id="page_top"></div>
    <div id="container">
      <div id="header">
        <%= render :partial => "shared/menu_bar" %>
      </div>
      <% if current_user %>
        <div id="left">
        <!-- Tweet Post Window -->
          <%= render :partial => "shared/tweet_post_bar" %>
        </div>
        <div id="right">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      <% else %>
      <% end %>
      <div id="footer">
        <%= render :partial => "shared/footer" %>
      </div>
    </div>
  </body>
</html>
